<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.MacrohardStudio.dao.IDeviceDao">

    <insert id="add" parameterType="com.MacrohardStudio.model.rootTable.Device" useGeneratedKeys="true" keyProperty="device_id">
        insert into device
        (device_name,device_category,device_mac_address)
        values(#{device_name},#{device_category},#{device_mac_address})
    </insert>
    <insert id="addRoom_Device" parameterType="com.MacrohardStudio.model.followTable.Room_Device">
        insert into room_device
        (device_id,room_id)
        values(#{device_id},#{room_id})
    </insert>
    <delete id="delete" parameterType="com.MacrohardStudio.model.rootTable.Device">
        delete from device
        where device_id = #{device_id}

    </delete>
    <delete id="deleteRoom_Device" parameterType="com.MacrohardStudio.model.rootTable.Device">
        delete from room_device
        where device_id = #{device_id}
    </delete>

    <update id="modify" parameterType="com.MacrohardStudio.model.rootTable.Device">
        UPDATE device
        SET device_name = #{device_name}
        WHERE device_id = #{device_id}

    </update>

    <update id="modifyRoom_Device" parameterType="com.MacrohardStudio.model.followTable.Room_Device">
        UPDATE room_device
        SET room_id = #{room_id}
        WHERE device_id = #{device_id}
    </update>

    <select id="search" parameterType="com.MacrohardStudio.model.dro.DeviceDro" resultType="com.MacrohardStudio.model.rootTable.Device">
        SELECT d.*
        FROM device d
        <where>
            <if test="device_id != null">
                AND d.device_id = #{device_id}
            </if>
            <if test="device_name != '' &amp;&amp; device_name != null">
                AND d.device_name = #{device_name}
            </if>
            <if test="device_category != null">
                AND d.device_category = #{device_category}
            </if>
            <if test="device_activation != null">
                AND d.device_activation = #{device_activation}
            </if>
            <if test="room_id != null">
                AND EXISTS (
                SELECT 1
                FROM room_device rd
                WHERE d.device_id = rd.device_id
                AND rd.room_id = #{room_id}
                )
            </if>
        </where>
    </select>

    <select id="searchById" parameterType="java.lang.Integer" resultType="com.MacrohardStudio.model.rootTable.Device">
        SELECT * FROM device
        WHERE device_id = #{device_id}
    </select>
</mapper>